{% load staticfiles %}
<!Doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<!--<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Administrador Lista 123</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />

    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/personalizado.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/paper-dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {{ form.media }}

    {% block css %}

    {% endblock %}

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard/">
                    <img src="{% static 'img/logo_123.png' %}">
                </a>
            </div>
            <ul class="nav">
                <li{% block solicitud %} {% endblock %}>
                    <a href="/dashboard/solicitudes/">
                        <i class="ti-file"></i>
                        <p>Solicitudes</p>
                    </a>
                </li>
                 <li {% block producto %} {% endblock %}>
                    <a href="/dashboard/productos/">
                        <i class="ti-shopping-cart"></i>
                        <p>Productos</p>
                    </a>
                </li>
                <li{% block instituto %} {% endblock %}>
                    <a href="/dashboard/institutos/">
                        <i class="ti-home"></i>
                        <p>Institutos</p>
                    </a>
                </li>
                <li{% block grado %} {% endblock %}>
                    <a href="/dashboard/grados/">
                        <i class="ti-medall"></i>
                        <p>Grados</p>
                    </a>
                </li>
                <li {% block escolar %} {% endblock %}>
                    <a href="/dashboard/listas/">
                        <i class="ti-ruler-pencil"></i>
                        <p>Listas Escolares</p>
                    </a>
                </li>
                <li {% block sugerencia %} {% endblock %}>
                    <a href="/dashboard/sugerencias/">
                        <i class="ti-email"></i>
                        <p>Sugerencias</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1" style="background-color: #fff"></span>
                        <span class="icon-bar bar2" style="background-color: #fff"></span>
                        <span class="icon-bar bar3" style="background-color: #fff"></span>
                    </button>
                    <a class="navbar-brand" href="#">{% block title %}Dashboard {% endblock %}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-user"></i>
								<p>{{ user.get_username }}</p>
                            </a>
                        </li>
						<li>
                            <a href="{% url 'logout' %}">
								<i class="ti-lock"></i>
								<p>Cerrar Sesión</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                {% block content %}
                    <div class="col-lg-12">
                        <img src="{% static 'img/banner1.jpg' %}" style="width: 100%; border-radius: 5px; vertical-align: middle;">
                    </div>
                {% endblock %}
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, Producto desarrollado por Pinttosoft C.A</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>


	<!--  Checkbox, Radio & Switch Plugins -->
    <script src="{% static 'js/bootstrap-checkbox-radio.js' %}" type="text/javascript"></script>

	<!--  Charts Plugin -->
    <script src="{% static 'js/chartist.min.js' %}" type="text/javascript"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'js/bootstrap-notify.js' %}" type="text/javascript"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="{% static 'js/paper-dashboard.js' %}" type="text/javascript"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'js/demo.js' %}" type="text/javascript"></script>

     <script src="{% static 'js/bootstrap-select.js' %}" type="text/javascript"></script>

    {% block scripts %}

    {% endblock %}

</html>