{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Iniciar Sesión</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel='stylesheet prefetch' href='http://daneden.github.io/animate.css/animate.min.css'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <div class='form animated flipInX container'>
  <form  method="post" class="form-signin">
      <center><img src="{% static 'img/logo_123.png' %}"></center>
      <br>
      {% csrf_token %}
    <input placeholder='Usuario' type='text' name="username">
    <input placeholder='Contraseña' type='password' name="password">
    <button class='animated infinite pulse'>Iniciar Sesión</button>
  </form>
</div>
  <script src='{% static 'js/jquery-1.10.2.js' %}'></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
