{% extends 'productos/listar.html' %}

{% block content %}
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">{% block titleform %}Nuevo Precio {% endblock %}</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {{ form.producto }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Categoría</label>
                                {{ form.categoria}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Precio</label>
                                {{ form.precio }}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd "> Guardar</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("producto").value = {{ producto }}
    </script>
{% endblock %}