{% extends 'productos/listaprecios.html' %}

{% block content %}
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">¿Desea eliminar el registro de {{ precio.producto.nombre }} para la categoría {{ precio.categoria }}?</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd "> Si, Eliminar</button>
                        <a class="btn btn-info btn-fill btn-wd " href="{% url 'productos:productos_precio' producto %}">Cancelar</a>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}