{% extends 'base/base.html' %}

{% block title %}
    Productos
{% endblock %}

{% block producto %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Listado</h4>
            <p class="category">Productos Almacenados</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Fecha de Registro</th>
                <th >Acciones <a href="{% url 'productos:productos_crear' %}" style=" font-size: 18px;" title="Nuevo" class="ti-plus" id ="icon"></a></th>
                </thead>
                <tbody>
                {% if productos %}
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.fecha_registro}}</td>
                    <td>
                        <a href="{% url 'productos:productos_editar' producto.id %}" style=" font-size: 22px; margin-left: 2%" title="Editar" class="ti-pencil" id ="icon"></a>
                        <a href="{% url 'productos:productos_eliminar' producto.id %}" style=" font-size: 22px; margin-left: 5%" title="Eliminar" class="ti-trash" id ="icon"></a>
                        <a href="{% url 'productos:productos_precio' producto.id %}" style=" font-size: 22px; margin-left: 5%" title="Precio" class="ti-money" id ="icon"></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='5' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}