{% extends 'base/base.html' %}

{% block title %}
    Sugerencias
{% endblock %}

{% block sugerencia %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Listado</h4>
            <p class="category">Sugerencias Almacenadas</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Descripción</th>
                <th >Acciones</th>
                </thead>
                <tbody>
                {% if sugerencias %}
                {% for sugerencia in sugerencias %}
                <tr>
                    <td>{{ sugerencia.id }}</td>
                    <td>{{ sugerencia.descripcion }}</td>
                    <td>
                        <a href="{% url 'sugerencias:sugerencias_eliminar' sugerencia.id %}" style=" font-size: 22px; margin-left: 5%" title="Eliminar" class="ti-trash" id ="icon"></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='3' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}