{% extends 'solicitudes/listar.html' %}

{% block content %}
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">¿Desea despachar la solicitud con los siguientes datos?</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th align='right'>Solicitante:</th>
                            <td>
                                {{ solicitud.representante }}
                            </td>
                        </tr>
                        <tr>
                            <th align='right'>Telefono:</th>
                            <td>
                                {{ solicitud.telefono }}
                            </td>
                        </tr>
                        <tr>
                            <th align='right'>Correo:</th>
                            <td>
                                {{ solicitud.correo }}
                            </td>
                        </tr>
                        <tr>
                            <th align='right'>Direccion:</th>
                            <td>
                                {{ solicitud.direccion }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form method="post">
                    {% csrf_token %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd "> Si, Despachar</button>
                        <a class="btn btn-info btn-fill btn-wd " href="{% url 'solicitudes:index' %}">Cancelar</a>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}