{% extends 'base/base.html' %}

{% block title %}
    Solicitudes
{% endblock %}

{% block solicitud %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Listado</h4>
            <p class="category">Solicitudes Almacenadas</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Representante</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Instituto</th>
                <th>Grado</th>
                <th>Estudiante</th>
                <th>Estado</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                {% if solicitudes %}
                {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.id}}</td>
                    <td>{{ solicitud.representante }}</td>
                    <td>{{ solicitud.telefono }}</td>
                    <td>{{ solicitud.correo }}</td>
                    <td>{{ solicitud.instituto.nombre }}</td>
                    <td>{{ solicitud.grado.descripcion }}</td>
                    <td>{{ solicitud.estudiante}}</td>
                    <td>{% if solicitud.estado == 'P' %}
                            Pendiente
                        {% elif solicitud.estado == 'PR' %}
                            Presupuestado
                        {% elif solicitud.estado == 'PA' %}
                            Pagado
                        {% else %}
                            Enviado
                        {% endif %}
                    </td>
                    <td>
                       {% if solicitud.estado == 'P' %}
                            <a href="{% url 'solicitudes:cotizacion' solicitud.id %}" style=" font-size: 22px; margin-left: 25%" title="Enviar Presupuesto" class="ti-email" id ="icon"></a>
                        {% elif solicitud.estado == 'PR' %}
                            <a href="{% url 'solicitudes:eliminar' solicitud.id %}" style=" font-size: 22px; margin-left: 25%" title="Eliminar" class="ti-trash" id ="icon"></a>
                        {% elif solicitud.estado == 'PA' %}
                            <a href="{% url 'solicitudes:enviar' solicitud.id %}" style=" font-size: 22px; margin-left: 25%" title="Despachar" class="ti-check-box" id ="icon"></a>
                        {% else %}
                            Enviado
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='9' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <ul class = "pager">
                <li>
                    <a href="#">Atras</a>
                </li>
                <li>
                    <a href="#">Siguiente</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}