/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a !important;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.form-inline{
  text-align: center;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.grid{
  height: 95px;
  width: 45%;
  margin: 0 auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

#row{
  margin-left: 16px;
  margin-right: 16px;
}

#hamburguer{
  color: black;
}

#nav-user{
  border-bottom: black;
    border-bottom-style: solid;
    background-color: white;
    border-bottom-width: 2px;
}

  .modal-header{
    text-align: center;
    color: #dc9600;
    border-bottom-color: grey;
  }

.form-control:focus{
  border-color: #dc9600;
  box-shadow: none;
}

#btnEnviar{
  background-color: #dc9600;
  border: none;
}

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.navbar{
 margin-bottom: 0px!important;
}

.navbar-right{
  margin-right: -75px;
}

a{
  color: black;
}

.navbar-collapse {
  text-align:center;
  margin-left: -10px;
  }

.navbar-nav {
    display:inline-block;
    float:none;
    margin-left:-10px;
    margin-top: 10px;
    }

    .footer {
      position: static;
      color: white;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: 35px;
      background-color: #dc9600;
      text-align: center;
      margin-top: 30px;
      height: 80px;
      font-size: 12px;
    }

.social-img{
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.social {
  float: right;
  font-size: 12px;
  margin-top: -8px;
  margin-right: 55px;
  margin-left: -97px;
}

#divisor{
  margin-bottom: -1px;
    margin-top: -5px;
    height: 2px;
    border: none;
    background-color: #dc9600;
    width: 95%;
    margin: 0 auto;
}

.featurette-divider{
  margin: 20px!important;
}

.lead{
  margin-left: 20px;
  margin-right: 10px;
}

#carrusel{
  padding-left: 0px;
  padding-right: 0px;
}

.myGrid {
    width: 500px;
    height: 250px;
}

.boton-editar{
  text-align: center;
  margin-top: 10px;
}

#ingresar_producto{
  margin-top: 10px;
}

.elemento{
  text-align: center;
}

.lista{
  margin-top: 20px;
}
