.navbar-default{
    background-color: #f29700 !important;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}

.navbar-default .navbar-nav > li > a:not(.btn) {
    color: #fff !important;
}

.sidebar[data-active-color="danger"] .nav li.active > a, .off-canvas-sidebar[data-active-color="danger"] .nav li.active > a {
    color: #f29700 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar .navbar-nav > li > a.btn-info.btn-fill:hover, .navbar .navbar-nav > li > a.btn-info.btn-fill:focus, .navbar .navbar-nav > li > a.btn-info.btn-fill:active, .navbar .navbar-nav > li > a.btn-info.btn-fill.active, .open > .navbar .navbar-nav > li > a.btn-info.btn-fill.dropdown-toggle, .btn-info.btn-fill:hover, .btn-info.btn-fill:focus, .btn-info.btn-fill:active, .btn-info.btn-fill.active, .open > .btn-info.btn-fill.dropdown-toggle {
    background-color: #ca2018 !important;
    border-color: #ca2018 !important;
}

.navbar .navbar-nav > li > a.btn-info.btn-fill, .btn-info.btn-fill {
    background-color: #ca2018 !important;
}

.navbar .navbar-nav > li > a.btn-info, .btn-info {
    border-color: #ca2018 !important;
}

#icon{
    color:grey !important;
}