body {
  background: #f29700 url("/static/img/utiles.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body::before {
  z-index: -1;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background: #2ecc71;
  /* IE Fallback */
  background: rgba(242, 151, 0, 0.8) !important;
  width: 100%;
  height: 100%;
}
.form {
 /*position: absolute;*/
    /* top: 50%; */
    /* left: 50%; */
    background: #fff;
    width: 373px;
    /* margin: -140px 0 0 -182px; */
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    /* margin: 20% 40%; */
    margin-top: 12% !important;
}
.form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #2ecc71;
  font-size: 18px;
  font-weight: 400;
}
.form input {
  border-radius: 4px;
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;

}
.form input:focus {
  color: #333;
  border: 1px solid #f29700;
}
.form button {
  border-radius: 40px;
  cursor: pointer;
  background: #ca2018;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.form button:hover {
  background: #ca2018;
}
