{% extends 'base/base.html' %}

{% block title %}
    Grados
{% endblock %}

{% block grado %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Listado</h4>
            <p class="category">Grados Almacenados</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Descripción</th>
                <th >Acciones <a href="{% url 'grados:grados_crear' %}" style=" font-size: 18px;" title="Nuevo" class="ti-plus" id ="icon"></a></th>
                </thead>
                <tbody>
                {% if grados %}
                {% for grado in grados %}
                <tr>
                    <td>{{ grado.id }}</td>
                    <td>{{ grado.descripcion }}</td>
                    <td>
                        <a href="{% url 'grados:grados_editar' grado.id %}" style=" font-size: 22px; margin-left: 2%" title="Editar" class="ti-pencil" id ="icon"></a>
                        <a href="{% url 'grados:grados_eliminar' grado.id %}" style=" font-size: 22px; margin-left: 5%" title="Eliminar" class="ti-trash" id ="icon"></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='3' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}