{% extends 'listas/listar.html' %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">{% block titleform %}Nueva Lista {% endblock %}</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    {{ form.instituto }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Departamento</label>
                                 <select class="form-control border-input " id="id_departamento" name="id_departamento" required>
                                    {% block select_departamento %}
                                     <option value="" >---------</option>
                                    {% endblock %}
                                 </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Municipio</label>
                                 <select class="form-control border-input " id="id_municipio" name="id_municipio" required>
                                    {% block select_municipio %}
                                     <option value="" >---------</option>
                                    {% endblock %}
                                 </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Instituto</label>
                                <select class="form-control border-input " id="s_instituto" name="s_instituto" required>
                                    {% block select_instituto %}
                                     <option value="" >---------</option>
                                    {% endblock %}
                                 </select>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label >Grado</label>
                                {{ form.grado }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                                <label >Productos</label>
                                {{ form.producto}}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd "> Guardar</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).on('ready',function(){
        buscarDepartamento();
    });

    function buscarDepartamento(){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_departamento',
        data : {
            csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                 var opciones = '<option value= "" data-tokens="">---------</option>';
                $.each(data,function(indice, valor){
                    opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
                });
            }else{
                var opciones = '<option value= "" data-tokens="">---------</option>';
            }
            $("#id_departamento").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#id_departamento").change(function (){
        var id_departamento = $(this).val();
        buscarMunicipio(id_departamento);
        var opciones = '<option value= "" data-tokens="">---------</option>';
        $("#s_instituto").html(opciones);
        $('.selectpicker').selectpicker('refresh');
    });

    function buscarMunicipio(id_departamento){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_municipio',
        data : {
            departamento: id_departamento,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                var opciones = '<option value= "" data-tokens="">---------</option>';
                 $.each(data,function(indice, valor){
                    opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
                 });
            }else{
                var opciones = '<option value= "" data-tokens="">---------</option>';
            }

            $("#id_municipio").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#id_municipio").change(function (){
        var id_municipio = $(this).val();
        buscarInstituto(id_municipio);
    });

    function buscarInstituto(id_municipio){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_instituto',
        data : {
            municipio: id_municipio,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                var opciones = '<option value= "" data-tokens="">---------</option>';
                 $.each(data,function(indice, valor){
                     opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.nombre+'">'+valor.fields.nombre+'</option>';
                 });
            }else{
                 var opciones = '<option value= "" data-tokens="">---------</option>';
            }

            $("#s_instituto").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#s_instituto").change(function (){
        var id_instituto = $(this).val();
        document.getElementById("id_instituto").value = id_instituto;
    });

</script>
{% endblock %}