{% extends 'listas/listar.html' %}

{% block title %}
    Listas Escolares
{% endblock %}

{% block escolar %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Detalle</h4>
            <p class="category">Productos Asociados</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Descripción</th>
                </thead>
                <tbody>
                {% if productos %}
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id}}</td>
                    <td>{{ producto.nombre }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='2' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}