{% extends 'listas/agregar.html' %}

{% block titleform %}
    Editar Lista
{% endblock %}

{% block select_departamento %}
    {% if departamentos %}
        <option value="" >---------</option>
        {% for dep in departamentos %}
        <option value="{{ dep.pk }}"
            {% if departamento == dep.pk %}
                selected="selected">
            {% else %}
                >
            {% endif %}
        {{ dep.descripcion }}
        </option>
        {% endfor %}
    {% else %}
        <option value="" selected="selected">---------</option>
    {% endif %}
{% endblock %}

{% block select_municipio %}
    {% if municipios %}
        <option value="" >---------</option>
        {% for mun in municipios %}
        <option value="{{ mun.pk }}"
            {% if municipio == mun.pk %}
                selected="selected">
            {% else %}
                >
            {% endif %}
        {{ mun.descripcion }}
        </option>
        {% endfor %}
    {% else %}
        <option value="" selected="selected">---------</option>
    {% endif %}
{% endblock %}

{% block select_instituto %}
    {% if institutos %}
        <option value="" >---------</option>
        {% for ins in institutos %}
        <option value="{{ ins.pk }}"
            {% if instituto == ins.pk %}
                selected="selected">
            {% else %}
                >
            {% endif %}
        {{ ins.nombre }}
        </option>
        {% endfor %}
    {% else %}
        <option value="" selected="selected">---------</option>
    {% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $("#id_departamento").change(function (){
        var id_departamento = $(this).val();
        buscarMunicipio(id_departamento);
        var opciones = '<option value= "" data-tokens="">---------</option>';
        $("#s_instituto").html(opciones);
        $('.selectpicker').selectpicker('refresh');
    });

    function buscarMunicipio(id_departamento){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_municipio',
        data : {
            departamento: id_departamento,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                var opciones = '<option value= "" data-tokens="">---------</option>';
                 $.each(data,function(indice, valor){
                    opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
                 });
            }else{
                var opciones = '<option value= "" data-tokens="">---------</option>';
            }

            $("#id_municipio").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#id_municipio").change(function (){
        var id_municipio = $(this).val();
        buscarInstituto(id_municipio);
    });

    function buscarInstituto(id_municipio){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_instituto',
        data : {
            municipio: id_municipio,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                var opciones = '<option value= "" data-tokens="">---------</option>';
                 $.each(data,function(indice, valor){
                     opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.nombre+'">'+valor.fields.nombre+'</option>';
                 });
            }else{
                 var opciones = '<option value= "" data-tokens="">---------</option>';
            }

            $("#s_instituto").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#s_instituto").change(function (){
        var id_instituto = $(this).val();
        document.getElementById("id_instituto").value = id_instituto;
    });
</script>
{% endblock %}