{% extends 'base/base.html' %}

{% block title %}
    Listas Escolares
{% endblock %}

{% block escolar %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Listado</h4>
            <p class="category">Listas Almacenadas</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Instituto</th>
                <th>Grado</th>
                <th >Acciones <a href="{% url 'listas:listas_crear' %}" style=" font-size: 18px;" title="Nuevo" class="ti-plus" id ="icon"></a></th>
                </thead>
                <tbody>
                {% if listas %}
                {% for lista in listas %}
                <tr>
                    <td>{{ lista.id }}</td>
                    <td>{{ lista.instituto.nombre }}</td>
                    <td>{{ lista.grado.descripcion}}</td>
                    <td>
                        <a href="{% url 'listas:listas_editar' lista.id %}" style=" font-size: 22px; margin-left: 0%" title="Editar" class="ti-pencil" id ="icon"></a>
                        <a href="{% url 'listas:listas_eliminar' lista.id %}" style=" font-size: 22px; margin-left: 5%" title="Eliminar" class="ti-trash" id ="icon"></a>
                        <a href="{% url 'listas:listas_detalle' lista.id %}" style=" font-size: 22px; margin-left: 5%" title="Detalle" class="ti-search" id ="icon"></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='4' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}