{% extends 'institutos/listar.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap-chosen.css' %}">
{% endblock %}
{% block content %}
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">{% block titleform %}Nuevo Instituto {% endblock %}</h4>
            </div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre</label>
                                {{ form.nombre }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label >Carrera</label>
                                {{ form.carrera }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label >Categoría</label>
                                {{ form.categoria}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                {{ form.calle }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Departamento</label>
                                {{ form.departamento }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Municipio</label>
                                 <select class="form-control border-input " id="id_municipio" name="id_municipio" required>
                                    {% block select_municipio %}
                                     <option value="" selected="selected">---------</option>
                                    {% endblock %}
                                 </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd "> Guardar</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
     $("#id_departamento").change(function (){
        var id_departamento = $(this).val();

        buscarMunicipio(id_departamento);
    });

    function buscarMunicipio(id_departamento){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_municipio',
        data : {
            departamento: id_departamento,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            var opciones = "";
            $.each(data,function(indice, valor){
                opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
            });

            $("#id_municipio").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }
    </script>

{% endblock %}