{% extends 'institutos/agregar.html' %}

{% block titleform %}
    Editar Instituto
{% endblock %}

{% block select_municipio %}
    {% if municipios %}
        <option value="" >---------</option>
        {% for mun in municipios %}
        <option value="{{ mun.id }}"
            {% if municipio.id == mun.id %}
                selected="selected">
            {% else %}
                >
            {% endif %}
        {{ mun.descripcion }}
        </option>
        {% endfor %}
    {% else %}
        <option value="" selected="selected">---------</option>
    {% endif %}
{% endblock %}

