{% extends 'base/base.html' %}

{% block title %}
    Institutos
{% endblock %}

{% block instituto %}
    class = "active"
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Listado</h4>
            <p class="category">Institutos Almacenados</p>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th >Acciones <a href="{% url 'institutos:institutos_crear' %}" style=" font-size: 18px;" title="Nuevo" class="ti-plus" id ="icon"></a></th>
                </thead>
                <tbody>
                {% if institutos %}
                {% for instituto in institutos %}
                <tr>
                    <td>{{ instituto.id }}</td>
                    <td>{{ instituto.nombre }}</td>
                    <td>{{ instituto.categoria }}</td>
                    <td>{{ instituto.departamento }}</td>
                    <td>{{ instituto.municipio }}</td>
                    <td>
                        <a href="{% url 'institutos:institutos_editar' instituto.id %}" style=" font-size: 22px; margin-left: 2%" title="Editar" class="ti-pencil" id ="icon"></a>
                        <a href="{% url 'institutos:institutos_eliminar' instituto.id %}" style=" font-size: 22px; margin-left: 5%" title="Eliminar" class="ti-trash" id ="icon"></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr>
						<td colspan='6' align='center'>La consulta no devolvió registros</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}