{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="robots" content="all,follow">
        <meta name="googlebot" content="index,follow,snippet,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Lista 123</title>

        <meta name="keywords" content="">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />

        <!-- Bootstrap and Font Awesome css -->
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

        <!-- owl carousel css -->

        <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">

        <!-- Theme stylesheet -->
        <link href="{% static 'css/style.default.css' %}" rel="stylesheet" id="theme-stylesheet">

        <!-- Custom stylesheet - for your changes -->
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">

        <!-- CSS Animations -->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet">

        <link href="{% static 'css/landing.css' %}" rel="stylesheet">

        <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">

        <link href="{% static 'css/alertify.core.css' %}" rel="stylesheet">

        <link href="{% static 'css/alertify.default.css' %}" rel="stylesheet">

        <script type="text/javascript" src="{% static 'js/alertify.js' %}"></script>

        <!-- Mordernizr -->
        <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>

        <script>
		/*
		--------------------------------------------------------------------------------
		| EJEMPLO Y SCRIPT ADAPTADO AL ESPAÑOL POR http://blog.reaccionestudio.com/    |
		--------------------------------------------------------------------------------
		|	VISÍTANOS !!!                                                              |
		--------------------------------------------------------------------------------
		*/
			function alerta(){
				//un alert
				alertify.alert("<b>Blog Reaccion Estudio</b> probando Alertify", function () {
					//aqui introducimos lo que haremos tras cerrar la alerta.
					//por ejemplo -->  location.href = 'http://www.google.es/';  <-- Redireccionamos a GOOGLE.
				});
			}

			function confirmar(){
				//un confirm
				alertify.confirm("<p>Aquí confirmamos algo.<br><br><b>ENTER</b> y <b>ESC</b> corresponden a <b>Aceptar</b> o <b>Cancelar</b></p>", function (e) {
					if (e) {
						alertify.success("Has pulsado '" + alertify.labels.ok + "'");
					} else { alertify.error("Has pulsado '" + alertify.labels.cancel + "'");
					}
				});
				return false
			}

			function datos(){
				//un prompt
				alertify.prompt("Esto es un <b>prompt</b>, introduce un valor:", function (e, str) {
					if (e){
						alertify.success("Has pulsado '" + alertify.labels.ok + "'' e introducido: " + str);
					}else{
						alertify.error("Has pulsado '" + alertify.labels.cancel + "'");
					}
				});
				return false;
			}

			function notificacion(){
				alertify.log("Esto es una notificación cualquiera.");
				return false;
			}

			function ok(){
				alertify.success("Visita nuestro <a href=\"http://blog.reaccionestudio.com/\" style=\"color:white;\" target=\"_blank\"><b>BLOG.</b></a>");
				return false;
			}

			function error(){
				alertify.error("Usuario o constraseña incorrecto/a.");
				return false;
			}

			document.nombreDelFormulario.addEventListener('submit', validarFormulario);

function validarFormulario(evObject) {
evObject.preventDefault(); //Evita el envío del formulario hasta comprobar
}
		</script>


    </head>

    <body data-spy="scroll" data-target="#navigation" data-offset="120">


        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="{% static 'img/logo_123.png'%}" >
                </div>

                <div class="navbar-collapse collapse" id="navigation">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#section1">Sobre Nosotros</a>
                        </li>
                        <li><a href="#section2">Solicitar</a>
                        </li>
                        <li><a href="#section3">¿Cómo Funciona?</a>
                        </li>
                        <li><a href="#section4">Sugerencias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

         <div class="section" id="section0" style="padding-top: 80px; padding-bottom: 0px; margin-left: 0px">
             <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                 <ul class="bxslider">
                     <li><img src="{% static 'img/slider1.jpg' %}" /></li>
                     <li><img src="{% static 'img/slider2.jpg' %}" /></li>
                     <li><img src="{% static 'img/slider3.jpg' %}" /></li>
                 </ul>
             </div>
         </div>

            <div class="section" id="section1">
                <div class="container">
                    <div class="col-md-12">
                        <h2 class="title" data-animate="fadeInDown" style="font-size: 40px">Sobre Nosotros</h2>
                        <div class="container marketing" data-animate="fadeInDown">
                            <div class="row">
                                <div class="col-lg-4" id="div_quien">
                                    <img class="img-circle" src="{% static 'img/pedido1.jpg' %}" alt="Generic placeholder image" width="140" height="140">
                                    <h3 class="title">¿Quienes somos?</h3>
                                    <p class="lead" style="font-size: 18px">Lista123 es una página online que busca facilitar al padre de familia la consecución de las listas escolares de sus hijos. Todo en un solo lugar.</p>
                                </div>
                                <div class="col-lg-4" id="div_mision">
                                    <img class="img-circle" src="{% static 'img/pedido2.jpg' %}" alt="Generic placeholder image" width="140" height="140">
                                    <h3 class="title">Misión</h3>
                                    <p class="lead" style="font-size: 18px">Lista123 es una empresa dedicada a la distribución de material escolar necesario para el buen desarrollo del proceso educativo. Ofrecemos lo requerido en listas escolares, dotación de bibliotecas, equipos, didácticos y todos los suministros para las instituciones educativas de carácter privado y oficial.</p>
                                </div>
                                <div class="col-lg-4" id ="div_vision">
                                    <img class="img-circle" src="{% static 'img/pedido3.jpg' %}" alt="Generic placeholder image" width="140" height="140">
                                    <h3 class="title">Visión</h3>
                                    <p class="lead" style="font-size: 18px">Ser reconocidos en el año 2020 como una empresa líder en la distribución escolar, generando confianza entre nuestros clientes, empleados y proveedores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section  text-gray" id="section2">
                <div class="container">
                    <div class="col-md-12">
                        <h2 class="title" data-animate="fadeInDown">Solicitar</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="container_">
                                    <form id="contact" action="" method="post">
                                        {% csrf_token %}
                                        <h3>Ingresar Solicitud</h3>
                                        </br>
                                        <div class="row" style="text-align: left; color: white;">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label>Representante</label>
                                                    {{ form.representante }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label>Correo</label>
                                                    {{ form.correo }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: left; color: white;">
                                            <div class="col-md-6">
                                                 <div class="form-group">
                                                    <label>Teléfono</label>
                                                    {{ form.telefono }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label >Departamento</label>
                                                    <select id="id_departamento" name="id_departamento" required>
                                                        {% block select_departamento %}
                                                            <option value="" >---------</option>
                                                        {% endblock %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: left; color: white;">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label >Municipio</label>
                                                    <select class="form-control border-input " id="id_municipio" name="id_municipio" required>
                                                        {% block select_municipio %}
                                                            <option value="" >---------</option>
                                                        {% endblock %}
                                                    </select>
                                                </div>
                                             </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Instituto</label>
                                                    <select class="form-control border-input " id="s_instituto" name="s_instituto" required>
                                                        {% block select_instituto %}
                                                            <option value="" >---------</option>
                                                        {% endblock %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: left; color: white;">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label >Grado</label>
                                                    {{ form.grado }}
                                                </div>
                                             </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Estudiante</label>
                                                    {{ form.estudiante }}
                                                </div>
                                            </div>
                                        {{ form.instituto }}
                                        </div>
                                     <div class="row" style="text-align: left; color: white;">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label >Dirección de Envio</label>
                                                    {{ form.direccion }}
                                                </div>
                                             </div>
                                        {{ form.estado }}
                                        </div>
                                        <button name="change_solicitud" type="submit" id="change_solicitud" data-submit="...Sending" onClick="ok()">Cargar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="section3" data-animate="fadeInUp">

                <div class="container">
                    <div class="col-md-12">

                        <div class="mb20">
                            <h2 class="title" data-animate="fadeInUp">¿Cómo Funciona?</h2>
                        </div>

                        <div id="row" class="row featurette">
                            <div class="col-md-7">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/llenar_solicitud.jpg' %}" alt="Generic placeholder image">
                                </br>
                                <p class="lead" style="font-size: 20px">Regístrate e ingresa a nuestra plataforma, luego envía la solicitud llenando el formulario para recibir tu cotización de la lista.</p>
                            </div>
                            <div class="col-md-5">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/solicitud.jpg' %}" alt="Generic placeholder image">
                            </div>
                        </div>

                        </br>

                        <div id="row" class="row featurette">
                            <div class="col-md-7 col-md-push-5">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/aprobacion_cotizacion.jpg' %}" alt="Generic placeholder image">
                                </br>
                                <p class="lead" style="font-size: 20px">Recibiras la cotización a tu correo electrónico, luego podrás incorporar aprobarla o realizar una nueva solicitud si así lo deseas.</p>
                            </div>
                            <div class="col-md-5 col-md-pull-7">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/aprueba.jpg' %}" alt="Generic placeholder image">
                            </div>
                        </div>

                        </br>

                        <div id="row" class="row featurette">
                            <div class="col-md-7">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/pago.jpg' %}" alt="Generic placeholder image">
                                </br>
                                <p class="lead" style="font-size: 20px">La seguridad es lo mas importante para nosotros, mediante payU puedes realizar el pago de tu cotización, PayU Biz es la empresa de pagos en línea de una forma simple y segura.</p>
                            </div>
                            <div class="col-md-5">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/pago_imagen.jpg' %}" alt="Generic placeholder image">
                            </div>
                        </div>

                        </br>

                        <div id="row" class="row featurette">
                            <div class="col-md-7 col-md-push-5">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/envio_texto.jpg' %}" alt="Generic placeholder image">
                                </br>
                                <p class="lead" style="font-size: 20px">En la fecha indicada que solicitaste recibirás el pedido a tu domicilio.</p>
                            </div>
                            <div class="col-md-5 col-md-pull-7">
                                <img class="featurette-image img-responsive center-block" src="{% static 'img/pedidos.jpg' %}" alt="Generic placeholder image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section text-gray" id="section4" style="padding-bottom: 0px;" >
                <div class="container">
                    <h2 class="title" data-animate="fadeInDown">Sugerencias</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container_">
                                <form id="contact" action="" method="post">
                                    {% csrf_token %}
                                    <div class="row" style="text-align: left; color: white;">
                                         <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Sugerencia</label>
                                                {{ form1.descripcion }}
                                            </div>
                                        </div>
                                    </div>
                                    <button name="change_sugerencia" type="submit" id="change_sugerencia" data-submit="...Sending">Enviar</button>
                                 </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img id="contacto" class="featurette-image" style="position: relative;" src="{% static 'img/contactanos.png' %}" alt="Generic placeholder image">
                        </div>
                    </div>
                </div>
            </div>

            <div class="section" id="footer">
                <div class="container">

                    <div class="row">


                        <div class="col-sm-6" data-animate="fadeInDown">

                            <p class="social">
                                <span class="social">Siguenos en nuestras redes sociales: <img class="social-img" data-animate="fadeInDown" src="{% static 'img/facebook.png' %}"/><img class="social-img" data-animate="fadeInDown" src="{% static 'img/twitter.png' %}"/></span>
                            </p>
                        </div>
                        <!-- /.6 -->

                        <div class="col-sm-6" data-animate="fadeInDown">
                            <p class="copyright">
                                <span>  &copy; <script>document.write(new Date().getFullYear())</script>, Producto desarrollado por Pinttosoft C.A</a></span>
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
<script type="text/javascript">
    {% if messages %}
                                {% for mensajes in messages %}
                                    {{ mensajes }}
                                {% endfor%}
                                {% endif %}
</script>


        <!-- js base -->
        <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>


        <!-- waypoints for scroll spy -->
        <script src="{% static 'js/waypoints.min.js' %}"></script>

        <!-- owl carousel -->
        <script src="{% static 'js/waypoints.min.js' %}"></script>

        <!-- jQuery scroll to -->
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

        <!-- main js file -->

        <script src="{% static 'js/front.js' %}"></script>

        <script src="{% static 'js/jquery.bxslider.js' %}"></script>

        <script src="{% static 'js/bootstrap-select.js' %}" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.bxslider').bxSlider({
                    auto: true,
                    speed:1000,
                });
            });
        </script>
    <script type="text/javascript">
    $(document).on('ready',function(){
        buscarDepartamento();
    });

    function buscarDepartamento(){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_departamento',
        data : {
            csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                 var opciones = '<option value= "" data-tokens="">---------</option>';
                $.each(data,function(indice, valor){
                    opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
                });
            }else{
                var opciones = '<option value= "" data-tokens="">---------</option>';
            }
            $("#id_departamento").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#id_departamento").change(function (){
        var id_departamento = $(this).val();
        buscarMunicipio(id_departamento);
        var opciones = '<option value= "" data-tokens="">---------</option>';
        $("#s_instituto").html(opciones);
        $('.selectpicker').selectpicker('refresh');
    });

    function buscarMunicipio(id_departamento){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_municipio',
        data : {
            departamento: id_departamento,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                var opciones = '<option value= "" data-tokens="">---------</option>';
                 $.each(data,function(indice, valor){
                    opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.descripcion+'">'+valor.fields.descripcion+'</option>';
                 });
            }else{
                var opciones = '<option value= "" data-tokens="">---------</option>';
            }

            $("#id_municipio").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#id_municipio").change(function (){
        var id_municipio = $(this).val();
        buscarInstituto(id_municipio);
    });

    function buscarInstituto(id_municipio){
    $.ajax({
        dataType : 'json',
        method : 'POST',
        url : '/dashboard/institutos/buscar_instituto',
        data : {
            municipio: id_municipio,csrfmiddlewaretoken: '{{ csrf_token  }}'
        },
        success : function(data) {
            console.log(data);
            if(!jQuery.isEmptyObject(data)){
                var opciones = '<option value= "" data-tokens="">---------</option>';
                 $.each(data,function(indice, valor){
                     opciones+='<option value="'+valor.pk+'" data-tokens="'+valor.fields.nombre+'">'+valor.fields.nombre+'</option>';
                 });
            }else{
                 var opciones = '<option value= "" data-tokens="">---------</option>';
            }

            $("#s_instituto").html(opciones);

            $('.selectpicker').selectpicker('refresh');
        }
    });
    }

    $("#s_instituto").change(function (){
        var id_instituto = $(this).val();
        document.getElementById("id_instituto").value = id_instituto;
    });

</script>
    </body>
</html>









